<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif; background:#222020; color:#EBEAE6}}
html, body{width:100%}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{{ url_for('home')}}" class="w3-bar-item w3-button w3-padding-large w3-hide-small" >WELCOME</a>
    <a href="{{ url_for('climate')}}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CLIMATE CHANGE</a>
    <a href="{{ url_for('crop_recommend')}}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">RECOMMENDER</a>
    <a href="{{ url_for('contact')}}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
  </div>
</div>

<!-- Page content -->

<div class="w3-container w3-content w3-padding-64 w3-wide" width="1000px">

  <div class="w3-container w3-content w3-padding-64" id="contact">
    <h1 class="w3-wide" style="color:orange">CropPick <i class="w3-hover-opacity"> <img src="{{url_for('static',filename = 'mango.png')}}" width="60" height="60"> </i></h1>
    <h2 class="w3-wide">Recommender</h2>
    <br>
    <h4 class="w3-wide w3-center" style="color:orange">Location</h4>
    <p class="w3-opacity w3-center"><i>Please get location automatically or enter manually</i></p>
    <div class="w3-container w3-content w3-center" id="form">
        <script type="text/javascript">
            function getLocationConstant() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(onGeoSuccess, onGeoError);
                } else {
                    alert("Your browser or device doesn't support Geolocation");
                }
            }
        
            // If we have a successful location update
            function onGeoSuccess(event) {
                document.getElementById("latitude").value = event.coords.latitude;
                document.getElementById("longitude").value = event.coords.longitude;
        
            }
        
            // If something has gone wrong with the geolocation request
            function onGeoError(event) {
                alert("Error code " + event.code + ". " + event.message);
            }
        </script>
        <form method="POST" action="{{ url_for('crop_prediction') }}">
            <br>
            <input type="button" value="Get Location" class="w3-button w3-black w3-section" onclick="getLocationConstant()" />
            <br>
            <br>
            <div id="divSample" class="hideClass">Latitude:
                <input 
                  type="number" 
                  step="any" 
                  id="latitude" 
                  name="latitude" 
                  value="">
                <br>
                <br>Longitude:
                <input 
                  type="number" 
                  step="any" 
                  id="longitude" 
                  name="longitude" 
                  value="">
                <br>
            </div>
            <div class="w3-container w3-content w3-padding-large"></div>
            <h4 class="w3-wide" style="color:orange">Soil and Weather Inputs</h4>
            <p class="w3-opacity w3-center"><i>Please enter desired prediction year as well as your Soil metrics</i></p>
            <div class="form-group">
            <div class="form-group w3-padding">
                <label for="year" style="font-size: 17px"
                  ><b>Year</b></label>
                <input
                  style="width:100px"
                  type="number"
                  class="form-control"
                  id="year"
                  name="year"
                  min="2022"
                  max="2100"
                  placeholder="Up to 2040"
                  style="font-weight: bold"
                  required
                />
            </div>
            <br>
              <label for="Nitrogen" style="font-size: 17px"><b>Nitrogen</b></label>
              <input
                style="width:230px"
                type="number"
                class="form-control"
                id="Nitrogen"
                name="nitrogen"
                min="4"
                max="300"
                placeholder="Enter a value between 4-300"
                style="font-weight: bold"
                required
              />
            </div>
            <br>
            <div class="form-group w3-padding">
              <label for="Phosphorous" style="font-size: 17px"><b>Phosphorous</b></label>
              <input
                style="width:230px"
                type="number"
                class="form-control"
                id="Phosphorous"
                name="phosphorous"
                min="4"
                max="230"
                placeholder="Enter a value between 4-230"
                style="font-weight: bold"
                required
              />
            </div>
            <br>
            <div class="form-group w3-padding">
              <label for="Pottasium" style="font-size: 17px"><b>Pottasium</b></label>
              <input
                style="width:230px"
                type="number"
                class="form-control"
                id="Pottasium"
                name="pottasium"
                min="3"
                max="300"
                placeholder="Enter a value between 3-300"
                style="font-weight: bold"
                required
              />
            </div>
            <br>
            <div class="form-group w3-padding">
              <label for="ph" style="font-size: 17px"><b>ph level</b></label>
              <input
                style="width:230px"
                type="number"
                step="0.01"
                class="form-control"
                id="ph"
                name="ph"
                min="1.5"
                max="14"
                placeholder="Enter a value between 1.5-14"
                style="font-weight: bold"
                required
              />
            </div>
            <br>
            <div class="form-group w3-padding">
              <label for="Humidity" style="font-size: 17px"><b>Humidity</b></label>
              <input
                style="width:230px"
                type="number"
                step="0.01"
                class="form-control"
                id="humidity"
                name="humidity"
                min="14"
                max="100"
                placeholder="Enter a value between 14-100"
                style="font-weight: bold"
                required
                />
            </div>
            <br>
            <h5 class="w3-wide" style="color:orange">Fill section below to override auto-pull </h5>
            <div style="border:3px; border-style:solid; border-color:orange; padding: 1em" class="form-group w3-padding">
              <label for="Temperature" style="font-size: 17px"><b>Temperature (C)</b></label>
              <input
                style="width:230px"
                type="number"
                step="0.01"
                id="temperature"
                value=""
                name="temperature"
                min="8"
                max="45"
                placeholder="Enter a value between 8-45"
                style="font-weight: bold"
              />
              <br>
              <br>
              <label for="Rainfall" style="font-size: 17px"><b>Rainfall (in cm)</b></label>
              <input
                style="width:230px"
                type="number"
                step="0.01"
                id="rainfall"
                value=""
                name="rainfall"
                min="10"
                max="375"
                placeholder="Enter a value between 10-375"
                style="font-weight: bold"
              />
            </div>
            <br>
        <button class="w3-button w3-black w3-section" style="font-size: large;" type="submit">Recommend</button>
            
        </form>    
  </div>

<!-- End Page Content -->
</div>


<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>
